body {
    background: rgb(13, 13, 13);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 520px;
    background:rgb(252, 252, 252);
    border-radius: 12px;
    
}

.swiper-slide img {
    display: block;
    margin:20px 20px 95px;
    width: 90%;
    

}
.details {
    color:azure;

}

